<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dropdowndoc.Properties.Settings.Buni_EnterpriseConnectionString"
            connectionString="Data Source=JOSH-PC\SQLEXPRESS;Initial Catalog=Buni-Enterprise;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Dropdowndoc.Properties.Settings.Country_DataConnectionString"
            connectionString="Data Source=JOSH-PC\SQLEXPRESS;Initial Catalog=Country_Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Dropdowndoc.Properties.Settings.MedilConnectionString"
            connectionString="Data Source=JOSH-PC\SQLEXPRESS;Initial Catalog=Medil;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>